.LoginScreen {
    .next {
        margin-top: 20px;
        background: $red;
        border: 0px solid transparent;
        padding: 10px 12px;
        border-radius: 999rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;
        cursor: pointer;

        img {
            width: 20px;
        }
    }
    
    .btn_back {
        transform: rotate(180deg);
        margin-top: 20px;
        background: $red;
        border: 0px solid transparent;
        padding: 10px 12px;
        border-radius: 999rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;
        position: absolute;
        left: 20px;
        cursor: pointer;

        img {
            width: 20px;
        }
    }
}